    <style type="text/css">
        .float{
            border:0px;
            height:500px; 
            overflow: auto; 
        }
        .listItem{
            height: 80px;
            background-color: #fff;
        }
        .whiteBackground{
            background-color: #fff !important;
        }
        .listTitle{
            font-size: 20px;
            text-align: right;
        }
        .listSub{
            margin-top: 8px;
            font-size: 8px;
            color: #888;
            text-align: right;
            text-shadow:0 0 !important;
        }
        .listMoney{
            position: relative;
            font-size: 15px;
            color: #d81e06;
        }
        .listYuan{
            position: relative;
            margin-left: -6px;
            font-size: 5px;
            color: #d81e06;
        }
        .listLast{
            font-size: 8px;
            color: #888;
        }
        .listBar{
            margin-top: 5px;
            text-align: right;
            font-size: 14px;
        }
        .listImg{
            height: 80px;
            width: 80px;
            border-radius: 0px;
        }
        .barImg{
            height: 20px;
            width: 20px;
        }
        .cart{
            position: fixed;
            background-color: #fff;
            border-radius: 3px;
            box-shadow: 0px -1px 1px 1px #f3f3f3;
            color: #d81e06;
            bottom: 0px;
            width: 100%;
            height: 45px;
        }
        .cartImg{
            height: 60px;
            width: 60px;
            position: fixed;
            margin-top: -15px;
            margin-left: 15px;
            border-radius: 30px;
        }
        .yuan{
            position: relative;
            font-size: 25px;
            top: 5px;
        }
        .money{
            position: relative;
            margin-top: 20px;
            left: 3px;
            top: 5px;
        }
        .detailImg{
            height: 30px;
            width: 40px;
            margin-top: 7px;
            margin-left: 30px;
        }
        .submit{
            margin-top: 0px;
            height: 100%;
            border-width: 0px;
            border-radius: 0px !important;
            background-color: #d81e06 !important;
            color: #fff !important;
            text-shadow:0 0 !important;
        }
        .text-center{
            position: relative;
            text-align: center;
        }
        .text-left{
            position: relative;
            text-align: left;
        }
        .text-right{
            position: relative;
            text-align: right;
        }
        .hidden{
            display: none;
        }
    </style>